{% extends 'base.html' %}


{% block content %}
{% include 'nav.html' %}
<div class="container mt-3">
    <h1>Movimientos</h1>
    <form method="POST" action="">
      {% csrf_token %}
      <input type="text" name="dni">
      <input type="submit" value="Buscar">
    </form>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cliente</th>
          <th scope="col">Servicio</th>
          <th scope="col">Técnico</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for m in movimientos %}
        <tr>
          <th scope="row">1</th>
          <td>{{m.cliente.NombreyApellido}}</td>
          <td>{{m.servicio.descripcion}}</td>
          <td>{{m.tecnico.NombreyApellido}}</td>
          <td>{{m.estado}}</td>
          
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
        
        
    
    {% include 'footer.html' %}
  </div>
{% endblock %}